*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;

}
body{
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}
header{
    text-align: center;
    border-bottom: 1px solid gray;
    padding: 60px;
}
.grid-container div{
    border: 1px solid red;
    padding: 40px;
}
.grid-container{
    display: grid;
    gap: 1rem;
    grid-template-columns: repeat(auto-fit, minmax(100px,1fr));
}

.grid-container .child img{
    width: 100%;
    height: 300px;
}