/**/
body {
    font-family: Arial, sans-serif;
  }
  .container{
    display: flex;
    justify-content: center;
  }
  @media screen and(max-width:485px) {
    .container{
        display: grid;
        grid-template-columns:repeat(1,1fr)
        
  }
}
  
  form {
    margin: 0 auto;
    width: 30%;
    padding: 1em;
    border: 1px solid #ccc;
    border-radius: 1em;
  }
  
  label {
    font-weight: bold;
    display: block;
    margin-bottom: 0.5em;
  }
  
  input[type="text"],
  input[type="email"],
  input[type="tel"] {
    width: 100%;
    padding: 0.5em;
    margin-bottom: 1em;
    border: 1px solid #ccc;
    border-radius: 0.25em;
  }
  
  button {
    display: flex;
    justify-content: center;
    background-color: #4CAF50;
    color: white;
    padding: 0.5em 1em;
    border: none;
    border-radius: 0.25em;
    cursor: pointer;
  }
  
  button:hover {
    background-color: #3e8e41;
  }
  
  .whatsapp{
    text-decoration: none;
  }
  