/* Estilos gerais */
body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
  }
  
  /* Estilos do cabeçalho */
  header {
    background-color: #3498db;
    color: white;
    padding: 20px;
    text-align: center;
  }
  
  /* Estilos do menu de navegação */
  nav {
    background-color: #f1c40f;
    padding: 10px;
  }
  
  nav ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    display: flex;
  }
  
  nav li {
    margin-right: 10px;
  }
  
  nav a {
    color: black;
    text-decoration: none;
  }
  
  /* Estilos do conteúdo principal */
  main {
    padding: 20px;
  }
  
  /* Estilos do rodapé */
  footer {
    background-color: #34495e;
    color: white;
    padding: 10px;
    text-align: center;
  }
  