/**/
.title{
    border-bottom: 1px solid gray;
}
h1{
   text-align: center;
   border-bottom: 1px solide gray;

}
.microsoft{
    width: 350px;
    margin: 25px auto;
}
.square.red{
    background-color: #f35322;
}
.square.blue{
    background-color: #05a6f1;
}
.square.gree{
    background-color: #81dc05;
}
.square.yellow{
    background-color: #ffba05;
}
.square{
    width: 150px;
    height: 150px;
    margin: 0 10px 10px 0;
    float: left;
}